<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Conent-type" content="text/html; charset=utf-8" />
    <title> Fone! </title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mainpage/css/main.css') }}">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.5.0/annyang.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="{{ asset('bundles/mainpage/js/main.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

</head>
<body>
    <div id="parent">
        <div id="button">
            <button type="button" onclick="start()" id="sButton" class="fa fa-microphone"></button>
            <h1> Demo</h1>
        </div>
        <div id="text">
            <h1 id="sText"> Result...</h1>
        </div>
    </div>



</body>
</html>